
.experience-timeline{
    width: 2px;
    padding: 5% 0;
    background-color: black;
    height: 100%;
}

.experience-container{
    padding: 1px 2rem;
    position: relative;
    background: inherit;
    width: 50%;
}

.experience-role{
    font-family: 'Rubik';
    text-decoration: underline;
    font-weight: 300;
}

.experience-side-heading{
    font-family: 'Rubik-Light';
}