
.App{
    padding-left: 10%;
    padding-top: 5%;
}


.porfolio-image{
    height: 10rem;
}

.porfolio-name{
    font-family: 'WorkSans';
    font-weight: 500;
}

.ink-mark{
    margin: 5%;
    height: 8px;
    border-radius: 8px;
    width: 40%;
    background-color: #F26C0B
}

.portfolio-tabs{
    margin-left: 10%;
    margin-bottom:4%;
    font-family: sans-serif;
}